#!/usr/bin/make -f

unexport CFLAGS

export FORCE_LIBC_MALLOC = yes

%:
	dh $@

override_dh_auto_test:
	# Testsuite requires working TCP/IP and a non-interactive mode

override_dh_auto_install:

clean:
	dh $@
	rm -f src/release.h
